<div class="search-container">
  
  @if (label) {
    <label class="input-label">{{ label }}</label>
  }

  @if (selectedUser()) {
    <div class="selected-card animate-fade-in">
      <div class="user-content">
        <app-user-avatar 
          [name]="selectedUser().firstName + ' ' + selectedUser().lastName" 
          [imageUrl]="selectedUser().photoUrl" 
          size="sm">
        </app-user-avatar>
        
        <div class="text-info">
          <span class="sel-name">{{ selectedUser().firstName }} {{ selectedUser().lastName }}</span>
          <span class="sel-role">{{ selectedUser().position?.name || 'Colaborador' }}</span>
        </div>
      </div>

      <mat-icon class="close-btn" (click)="clearSelection()">close</mat-icon>
    </div>
  }

  @if (!selectedUser()) {
    <div class="input-wrapper">
      <mat-icon class="search-icon">search</mat-icon>
      
      <input 
        type="text" 
        [placeholder]="placeholder"
        [value]="searchTerm()"
        (input)="onSearchInput($event)"
        (focus)="onFocus()"
        autocomplete="off">
        
      @if (isLoading()) {
        <mat-icon class="spin search-icon">sync</mat-icon>
      }
    </div>

    @if (showDropdown() && (searchResults().length > 0 || searchTerm().length > 1)) {
      <div class="results-dropdown">
        
        @for (emp of searchResults(); track emp.id) {
          <div class="result-item" (click)="selectUser(emp)">
            <app-user-avatar 
              [name]="emp.firstName + ' ' + emp.lastName" 
              [imageUrl]="emp.photoUrl" 
              size="xs">
            </app-user-avatar>
            
            <div class="info">
              <span class="name">{{ emp.firstName }} {{ emp.lastName }}</span>
              <span class="role">{{ emp.position?.name || 'Sin cargo' }}</span>
            </div>
          </div>
        }

        @if (searchResults().length === 0 && !isLoading()) {
          <div class="empty">No encontramos a nadie con ese nombre 😕</div>
        }
      </div>

      <div class="overlay-backdrop" (click)="closeDropdown()"></div>
    }
  }
</div>