<app-content-layout-view
  title="Mi Perfil Profesional" 
  subtitle="Gestiona tu información personal y laboral">

  <div actions>
    @if (profileData) {
      <app-custom-button 
        variant="primary" 
        icon="edit_note" 
        (onClick)="openUpdateModal()">
        Actualizar Datos
      </app-custom-button>
    }
  </div>

  @if (profileData) {
    <div class="animate-fade-in flex-column-gap">
      
      <app-profile-header
  [fullName]="fullName" 
  [jobTitle]="profileData.position?.name || 'Sin Cargo Asignado'"
  [location]="profileData.address || 'Ubicación no registrada'"
  [photoUrl]="profileData.photoUrl"
  [isLoadingPhoto]="isUploadingPhoto"
  (photoChange)="onUpdateAvatar($event)"> </app-profile-header>

      <div class="info-grid">
        <app-info-section title="Información Personal" icon="person" [data]="personalData"></app-info-section>
        <app-info-section title="Detalles del Cargo" icon="business_center" [data]="jobData"></app-info-section>
        <app-info-section title="Emergencia & Salud" icon="medical_services" [data]="emergencyData"></app-info-section>
      </div>

    </div>

  } @else {
    <div class="loading-state">
      <mat-spinner diameter="40"></mat-spinner>
      <span>Cargando perfil...</span>
    </div>
  }

</app-content-layout-view>