<mat-form-field appearance="outline" class="full-width-field">
  <mat-label>{{ label() }}</mat-label>
  
  @if (icon()) {
    <mat-icon matPrefix class="custom-prefix-icon">{{ icon() }}</mat-icon>
  }
  
  <input 
    matInput 
    [type]="inputType()" 
    [placeholder]="placeholder()" 
    [formControl]="control()"
    (blur)="onBlur()"
  >

  @if (type() === 'password') {
    <button 
      mat-icon-button 
      matSuffix 
      (click)="togglePasswordVisibility()" 
      type="button"
      tabindex="-1"> <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>
  }

  @if (control().hasError('required')) {
    <mat-error>Este campo es requerido</mat-error>
  }
  @if (control().hasError('email')) {
    <mat-error>Correo electrónico inválido</mat-error>
  }
  @if (control().hasError('minlength')) {
    <mat-error>Mínimo {{ control().errors?.['minlength'].requiredLength }} caracteres</mat-error>
  }
</mat-form-field>