:host {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem; // Espacio seguro entre inputs
}

.full-width-field {
  width: 100%;
  
  // Ajuste fino para que los iconos no se vean desalineados
  ::ng-deep .mat-mdc-form-field-icon-prefix {
    padding-right: 8px;
  }
}

.custom-prefix-icon {
  margin-right: 8px;
  color: #64748b; // Un gris más moderno (Slate-500)
}