// _variables.scss
$primary: #1e293b;
$accent: #10b981; // Tu verde de estado
$danger: #ef4444;

$radius-sm: 8px;
$radius-md: 12px;
$radius-circle: 50%;

// Breakpoints (Puntos de quiebre)
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;