<app-content-layout-view 
  title="Fotocheck Digital" 
  subtitle="Utiliza este código para acceder a las instalaciones.">

  <div class="credential-layout animate-fade-in">
    
    <app-id-card
      [name]="user().name"
      [position]="user().position"
      [employeeId]="user().code">
    </app-id-card>

    <div class="card-actions">
      <button mat-stroked-button color="primary" class="action-btn">
        <mat-icon>share</mat-icon>
        Compartir
      </button>
      
      <button mat-button class="text-secondary action-btn">
        <mat-icon>download</mat-icon>
        Descargar PDF
      </button>
    </div>

  </div>

</app-content-layout-view>