<div class="view-container animate-fade-in">
  <div class="content-wrapper centered-layout">

    <header class="text-center mb-8">
      <h1>Fotocheck Digital</h1>
      <p>Utiliza este código para acceder a las instalaciones.</p>
    </header>

    <app-id-card
      [name]="user().name"
      [position]="user().position"
      [employeeId]="user().code">
    </app-id-card>

    <div class="actions mt-8">
      <button mat-stroked-button color="primary">
        <mat-icon>share</mat-icon> Compartir vCard
      </button>
      <button mat-button class="text-secondary">
        <mat-icon>download</mat-icon> Descargar PDF
      </button>
    </div>

  </div>
</div>
