@use '@angular/material' as mat;
@use '../abstracts/variables' as *; // Importamos para referencia si hiciera falta

@include mat.core();

// 1. DEFINICIÓN DE PALETA (Guinda)
$guinda-palette: (
  50: #f0e0e4,
  100: #d9b3bc,
  200: #c0808f,
  300: #a64d62,
  400: #932641,
  500: #800020,
  600: #78001c,
  700: #6d0018,
  800: #630013,
  900: #50000b,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

// 2. CREACIÓN DE PALETAS
$mi-app-primary: mat.m2-define-palette($guinda-palette, 500);
$mi-app-accent:  mat.m2-define-palette(mat.$m2-blue-gray-palette, A200, A100, A400);
$mi-app-warn:    mat.m2-define-palette(mat.$m2-red-palette);

// 🔥 2.5. DEFINICIÓN DE TIPOGRAFÍA PERSONALIZADA
// Aquí es donde forzamos a Material a usar Poppins en lugar de Roboto
$mi-tipografia: mat.m2-define-typography-config(
  $font-family: 'var(--font-main)', // 🔥 CLAVE: Usar la variable CSS
  $headline-1: mat.m2-define-typography-level(112px, 112px, 300, $font-family: 'var(--font-main)'),
  $headline-2: mat.m2-define-typography-level(56px, 56px, 400, $font-family: 'var(--font-main)'),
  $body-1:     mat.m2-define-typography-level(16px, 24px, 400, $font-family: 'var(--font-main)'),
  $button:     mat.m2-define-typography-level(14px, 14px, 500, $font-family: 'var(--font-main)')
  );

// 3. TEMA LIGERO
$mi-tema-rrhh: mat.m2-define-light-theme((
  color: (
    primary: $mi-app-primary,
    accent: $mi-app-accent,
    warn: $mi-app-warn,
  ),
  // 🔥 Pasamos nuestra configuración, NO la por defecto
  typography: $mi-tipografia, 
  density: 0
));

// 4. APLICACIÓN
@include mat.all-component-themes($mi-tema-rrhh);

// 🔥 5. OVERRIDE GLOBAL (Para asegurar que nada se escape)
// Angular Material a veces inyecta variables CSS en el body, esto las sobreescribe.



:root {
  --mat-tab-header-active-label-text-color: var(--color-primary) !important;
  --mat-tab-header-active-focus-label-text-color: var(--color-primary) !important;
  --mat-tab-header-active-indicator-color: var(--color-primary) !important;
  
  // Forzar fuentes en lugares rebeldes
  --mat-option-label-text-font: var(--font-main) !important;
  --mat-stepper-header-label-text-font: var(--font-main) !important;
}