@use '@angular/material' as mat;

// Incluimos los estilos base del core
@include mat.core();

// 1. DEFINICIÓN DE PALETA (Guinda)
$guinda-palette: (
  50: #f0e0e4,
  100: #d9b3bc,
  200: #c0808f,
  300: #a64d62,
  400: #932641,
  500: #800020,
  600: #78001c,
  700: #6d0018,
  800: #630013,
  900: #50000b,
  contrast: (
    50: rgba(0, 0, 0, 0.87),
    100: rgba(0, 0, 0, 0.87),
    200: rgba(0, 0, 0, 0.87),
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

// 2. CREACIÓN DE PALETAS
$mi-app-primary: mat.m2-define-palette($guinda-palette, 500);
$mi-app-accent:  mat.m2-define-palette(mat.$m2-blue-gray-palette, A200, A100, A400);
$mi-app-warn:    mat.m2-define-palette(mat.$m2-red-palette);

// 3. TEMA LIGERO
$mi-tema-rrhh: mat.m2-define-light-theme((
  color: (
    primary: $mi-app-primary,
    accent: $mi-app-accent,
    warn: $mi-app-warn,
  ),
  typography: mat.m2-define-typography-config(),
  density: 0
));

// 4. APLICACIÓN
@include mat.all-component-themes($mi-tema-rrhh);