// 1. Configuración de Angular Material (Base)
@use 'themes/material-theme';

// 2. Abstractos (Variables, Mixins)
@use 'abstracts/variables';
@use 'abstracts/mixins';

// 3. Base (Reset, Root)
@use 'base/reset';
@use 'base/root';      // Aquí aplicas estilos globales al body, html
@use 'base/utilities'; // Clases helpers

// 4. Componentes Globales (Toasts, Tablas genéricas)
@use 'components/toasts';
@use 'components/tables';

// 5. Layout (Estructura principal)
@use 'layout/main-layout';

// 6. 🔥 TUS CORRECCIONES GLOBALES (Overrides finales)
html, body {
  font-family: var(--font-main) !important; 
  background-color: var(--bg-body);
  color: var(--text-main);
  height: 100%;
  margin: 0;
}

// Corrección para que los inputs de material se vean modernos (fondo blanco)
.mat-mdc-form-field-flex {
  background-color: var(--bg-surface) !important;
}