<div class="modal-card">
  
  <div class="modal-header">
    <div class="header-left">
      <div class="header-badge">
        <mat-icon>edit_note</mat-icon>
      </div>
      <div class="header-text">
        <h3>{{ title }}</h3>
        <p *ngIf="subtitle">{{ subtitle }}</p>
      </div>
    </div>
    
    <button mat-icon-button class="close-btn" (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body">
    <ng-content></ng-content>
  </div>

</div>