


<!-- WRAPPER CENTRADO CON CSS PURO -->
    <div class="view-container animate-fade-in">

      <div class="clock-section">
      <app-clock-widget></app-clock-widget>
    </div>

      <!-- PIEZA 1: BANNER -->
      <app-welcome-banner 
        [userName]="currentUserName"
        [role]="currentUserRole"
        [pendingTasks]="3"
        [isBirthday]="false">
      </app-welcome-banner>

      <!-- PIEZA 2: GRID DE WIDGETS (KPIs) -->
      <!-- Clase 'kpi-grid' controlada por CSS nativo -->
      <div class="kpi-grid">
        
        <app-kpi-widget
          title="Próximo PagoOooOo"
          value="$2,450"
          icon="payments"
          colorVariant="green"
          footerText="Programado: 15 Nov"
          trend="up"
          trendValue="+5% vs mes">
        </app-kpi-widget>

        <app-kpi-widget
          title="Vacaciones"
          value="12"
          unit="días"
          icon="beach_access"
          colorVariant="blue"
          footerText="3 días expiran en Dic">
        </app-kpi-widget>

        <app-kpi-widget
          title="Cumpleaños Mes"
          value="4"
          unit="colegas"
          icon="cake"
          colorVariant="orange"
          footerText="Ver calendario">
        </app-kpi-widget>

        <app-kpi-widget *ngIf="currentUserRole !== 'EMPLEADO'"
          title="Solicitudes"
          value="8"
          unit="pendientes"
          icon="assignment_ind"
          colorVariant="purple"
          footerText="3 requieren firma"
          trend="down"
          trendValue="-2">
        </app-kpi-widget>

      </div>

      <!-- PIEZA 3: SECCIÓN INFERIOR (Tablas/Calendarios) -->
      <div class="secondary-grid">
        <div class="placeholder-card wide-card">
          [Pieza LegoOooOooO: Tabla de Asistencia Reciente]
        </div>
        
        <div class="placeholder-card">
          [Pieza LegoOoOo: Calendario]
        </div>
      </div>

    </div>
