<app-context-card 
  icon="folder_shared"
  overline="Legajo del Colaborador"
  [overlineTags]="topTags"
  [headline]="'Código: ' + employeeCode()"
  [headlineTags]="bottomTags">



  <app-section-card [title]="'Información General'">
    
    <div slot="actions" class="toolbar-actions">
      
      <app-custom-button 
        variant="primary" 
        size="sm" 
        icon="print" 
        >
        Ficha
      </app-custom-button>
      
    </div>

    <div slot="tabs">
      <app-tap-strip [tabs]="navLinks"></app-tap-strip>
    </div>

    <router-outlet></router-outlet>

  </app-section-card>

</app-context-card>