<app-content-layout-view 
  title="Mi Equipo" 
  subtitle="Conoce tu estructura, líderes y colaboradores.">

  @if (loading()) {
    <div class="loading-state">
      <div class="spinner"></div>
      <p>Cargando estructura...</p>
    </div>

  } @else if (team()) {
    
    <div class="animate-fade-in flex-column-gap">

      @if (team()?.supervisor; as boss) {
        <div class="leader-section">
          <h3 class="section-label">A quien reporto</h3>
          
          <div class="leader-container">
            <div class="connector-line down"></div>
            
            <app-team-card
              [employee]="boss"
              role="BOSS"
              class="leader-card">
            </app-team-card>
          </div>
        </div>
      }

      @if (team()?.peers?.length) {
        <div class="peers-section">
          <h3 class="section-label">Mis Compañeros</h3>
          
          <div class="team-grid">
            @for (peer of team()!.peers; track peer.id) { 
              <app-team-card 
                [employee]="peer"
                role="PEER">
              </app-team-card>
            }
          </div>
        </div>
      }

      @if (team()?.subordinates?.length) {
        <div class="subordinates-section">
          <div class="divider-with-label">
            <span>Gente a mi cargo</span>
          </div>
          
          <div class="team-grid">
            @for (sub of team()!.subordinates; track sub.id) {
              <app-team-card 
                [employee]="sub"
                role="SUBORDINATE">
              </app-team-card>
            }
          </div>
        </div>
      }

      @if (!team()?.supervisor && team()?.peers?.length === 0 && team()?.subordinates?.length === 0) {
        <app-empty-state
          icon="groups"
          title="Sin Equipo Asignado"
          description="Aún no tienes compañeros ni líderes asignados en el sistema.">
        </app-empty-state>
      }

    </div>
  }
</app-content-layout-view>