<div class="employee-ticket group">
  
  <div class="ticket-visual">
    <div class="avatar-container">
      <span class="initials">{{ initials }}</span>
    </div>
    <div class="status-indicator" title="Activo"></div>
  </div>

  <div class="ticket-info">
    <div class="header-info">
      <h3 class="name">{{ fullName }}</h3>
      <span class="role-badge">{{ employee.position?.name || 'Sin Cargo' }}</span>
    </div>

    <div class="meta-grid">
      <div class="meta-item">
        <mat-icon>apartment</mat-icon>
        <span>{{ employee.department?.name || 'General' }}</span>
      </div>
      
      <div class="meta-item">
        <mat-icon>supervisor_account</mat-icon>
        <span class="truncate" [title]="employee.supervisor?.firstName">
          {{ employee.supervisor ? (employee.supervisor.firstName + ' ' + employee.supervisor.lastName) : 'Sin Jefe' }}
        </span>
      </div>

      <div class="meta-item full-row">
        <mat-icon>alternate_email</mat-icon>
        <span class="truncate">{{ employee.user?.email }}</span>
      </div>
    </div>
  </div>

  <div class="ticket-actions">
    <button *ngIf="isAdmin" 
            mat-icon-button 
            class="action-btn"
            (click)="$event.stopPropagation(); edit.emit(employee)">
      <mat-icon>edit_square</mat-icon>
    </button>
    
    <mat-icon class="bg-icon">badge</mat-icon>
  </div>

</div>