<div class="card-container animate-fade-in">
  
  <div class="card-header">
    <div class="actions" *ngIf="isAdmin">
      <button mat-icon-button class="edit-btn" (click)="edit.emit(employee)" matTooltip="Asignar Puesto/Jefe">
        <mat-icon>manage_accounts</mat-icon>
      </button>
    </div>
  </div>

  <div class="card-body">
    <div class="avatar">
      {{ initials }}
    </div>

    <h3 class="name">{{ fullName }}</h3>
    <p class="position">{{ employee.position?.name || 'Sin Cargo' }}</p>

    <div class="divider"></div>

    <div class="details">
      <div class="detail-item">
        <mat-icon>apartment</mat-icon>
        <span>{{ employee.department?.name || 'Sin Área' }}</span>
      </div>
      
      <div class="detail-item">
        <mat-icon>supervisor_account</mat-icon>
        <span [class.text-gray-300]="!employee.supervisor">
          {{ employee.supervisor ? (employee.supervisor.firstName + ' ' + employee.supervisor.lastName) : 'Sin Supervisor' }}
        </span>
      </div>

      <div class="detail-item">
        <mat-icon>email</mat-icon>
        <span class="email" [title]="employee.user?.email">{{ employee.user?.email }}</span>
      </div>
    </div>
  </div>
</div>
