<div class="card-scene">
      <div class="card-object" [class.is-flipped]="isFlipped()" (click)="flip()">
        
        <div class="card-face card-front">
          <div class="header-pattern"></div>
          
          <div class="avatar-container">
            <div class="avatar-placeholder">{{ initials }}</div>
            </div>

          <div class="info-block">
            <h2 class="name">{{ name }}</h2>
            <p class="position">{{ position }}</p>
            <div class="divider"></div>
            <p class="id-number">ID: {{ employeeId }}</p>
          </div>

          <div class="footer-status">
            <span class="status-dot"></span> Activo
          </div>
          
          <p class="tap-hint"><mat-icon>touch_app</mat-icon> Toca para ver QR</p>
        </div>

        <div class="card-face card-back">
          <div class="qr-container">
            <mat-icon class="qr-icon">qr_code_2</mat-icon>
          </div>
          
          <div class="emergency-info">
            <h3>En caso de emergencia</h3>
            <div class="row">
              <mat-icon>bloodtype</mat-icon>
              <span>Tipo de Sangre: <strong>O+</strong></span>
            </div>
            <div class="row">
              <mat-icon>contact_phone</mat-icon>
              <span>Contacto: <strong>999-888-777</strong></span>
            </div>
          </div>

          <p class="tap-hint">Toca para volver</p>
        </div>

      </div>
    </div>
