<button
  class="aesthetic-btn"
  [class]="'variant-' + variant"
  [class.full-width]="fullWidth"
  [class.is-loading]="isLoading"
  [disabled]="disabled || isLoading"
  [type]="type"
  mat-ripple
  [matRippleDisabled]="disabled || isLoading"
  (click)="handleClick($event)">

  <div class="content-wrapper">
    
    @if (isLoading) {
      <mat-icon class="spinner">sync</mat-icon>
    } 
    @else if (icon) {
      <mat-icon class="btn-icon">{{ icon }}</mat-icon>
    }

    <span class="label">
      <ng-content></ng-content>
    </span>
    
  </div>

</button>