<div class="modal-header">
  <h2 mat-dialog-title>
    Enviar Reconocimiento 
    <span class="emoji-hand">👏</span>
  </h2>
  
  <button mat-icon-button mat-dialog-close class="close-btn">
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="aesthetic-content">
  <div class="content-wrapper">
    
    <div class="section search-section">
    
      
      <div class="search-wrapper">
        <app-user-search-input 
          placeholder="Escribe un nombre..."
          (selected)="onUserSelected($event)">
        </app-user-search-input>
      </div>
    </div>

    @if (selectedUser()) {
      <div class="section form-section animate-slide-up">
        
        <div class="subsection">
          <label class="section-label">¿Por qué destaca?</label>
          <div class="categories-grid">
            @for (cat of categories; track cat.code) {
              <div 
                class="cat-item" 
                [class.active]="selectedCategory() === cat.code"
                [class]="cat.colorClass"
                (click)="selectCategory(cat.code)">
                
                <div class="icon-badge">
                  <mat-icon>{{ cat.icon }}</mat-icon>
                </div>
                <span class="cat-name">{{ cat.label }}</span>
              </div>
            }
          </div>
        </div>

        <div class="subsection">
          <label class="section-label">Tu Mensaje</label>
          <div class="textarea-container">
            <textarea 
              [(ngModel)]="message" 
              placeholder="Escribe algo inspirador..." 
              rows="3"></textarea>
          </div>
        </div>

      </div>
    }
  </div>
</mat-dialog-content>

@if (selectedUser()) {
  <div class="modal-footer animate-fade-in">
    <button mat-button mat-dialog-close class="btn-cancel">
      Cancelar
    </button>
    
    <button 
      mat-flat-button 
      color="primary" 
      class="btn-submit"
      [disabled]="!selectedCategory() || !message() || isSending()"
      (click)="submit()">
      
      <span class="flex-center">
        @if (isSending()) {
          <mat-icon class="spin">sync</mat-icon> Enviando...
        } @else {
          Enviar Aplauso 🚀
        }
      </span>
    </button>
  </div>
}